//- header.pug

header(role="banner")
    hgroup
        h1 Ярослав Жук
        h2 their eggs in my head&nbsp;&nbsp;&nbsp;bugs in my pockets&nbsp;&nbsp;&nbsp;bugs in my shoes
        p.cite Bugs by
            b &nbsp;Pearl Jam